<!-- Main -->
<main class="main" role="main">
    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="full-width content">
                <h2>Select bus for your DEPARTURE</h2>
                <div class="results">
                    <article class="result" *ngFor="let item of buses">
                        <div class="one-fourth heightfix"><img src={{item.url}} alt="" /></div>
                        <div class="one-half heightfix">
                             <h3>{{item.name}} BUS </h3><!-- <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3> -->
                            <ul>
                                <li>
                                    <span class="icon icon-themeenergy_user-3"></span>
                                    <p>Air-Condition</p>
                                </li>
                                <li>
                                    <span class="icon icon-themeenergy_travel-bag"></span>
                                    <p>Free <strong>WIFI</strong> </p>
                                </li>
                                <li>
                                    <span class="icon icon-themeenergy_clock"></span>
                                    <p>Estimated time <br /><strong>{{item.estimatedTime}}</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="one-fourth heightfix">
                            <div>
                                <div class="price">{{item.price}} <small>GHC</small></div>
                                <span class="meta">per passenger</span>
                                <a href="javascript:void(0)" (click)="busType(item.name)" class="btn grey large">select</a>
                            </div>
                        </div>
                    </article>
                </div>
                
            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->