<!-- Main -->
<main class="main" role="main">
    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="full-width content">
                <h2>Select bus for your DEPARTURE</h2>
                <div class="results">
                    <!-- Item -->
                    <article class="result">
                        <div class="one-fourth heightfix"><img src="./../../../assets/images/learning/vip.jpg" alt="" /></div>
                        <div class="one-half heightfix">
                             <h3>VIP BUS </h3><!-- <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3> -->
                            <ul>
                                <li>
                                    <span class="icon icon-themeenergy_user-3"></span>
                                    <p>Air-Condition</p>
                                </li>
                                <li>
                                    <span class="icon icon-themeenergy_travel-bag"></span>
                                    <p>Free <strong>WIFI</strong> </p>
                                </li>
                                <li>
                                    <span class="icon icon-themeenergy_clock"></span>
                                    <p>Estimated time <br /><strong>50 mins</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="one-fourth heightfix">
                            <div>
                                <div class="price">{{buses[0].price}} <small>GHC</small></div>
                                <span class="meta">per passenger</span>
                                <a href="javascript:void(0)" (click)="busType(1)" class="btn grey large">select</a>
                            </div>
                        </div>
                        <!-- <div class="full-width information">	
                            <a href="javascript:void(0)" class="close color" title="Close">x</a>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div> -->
                    </article>
                    <!-- //Item -->
                    <!-- Item -->
                    <article class="result">
                        <div class="one-fourth heightfix"><img src="./../assets/images/learning/stc-001.jpg" alt="" /></div>
                        <div class="one-half heightfix">
                            <h3>STC BUS</h3><!-- <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>-->
                            <ul>
                                <li>
                                    <span class="icon icon-themeenergy_user-3"></span>
                                    <p>Air-Condition</p>
                                </li>
                                <!-- <li>
                                    <span class="icon icon-themeenergy_travel-bag"></span>
                                    <p>Max <strong>3 suitcases</strong> <br />for free</p>
                                </li> -->
                                <li>
                                    <span class="icon icon-themeenergy_clock"></span>
                                    <p>Estimated time <br /><strong>1hr 25mins</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="one-fourth heightfix">
                            <div>
                                <div class="price">{{buses[1].price}} <small>GHC</small></div>
                                <span class="meta">per passenger</span>
                                <a href="javascript:void(0)" (click)="busType(2)"  class="btn grey large">select</a>
                            </div>
                        </div>
                        <!-- <div class="full-width information">	
                            <a href="javascript:void(0)" class="close color" title="Close">x</a>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div> -->
                    </article>
                    <!-- //Item -->
                </div>
                
            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->