<header class="header" role="banner">
    <div class="wrap">
      <!-- Logo -->
      <div class="logo">
        <a [routerLink]="['/']"  title="Tedbus"><img src="../../../assets/images/logo.jpg" alt="Tedbus" /></a>
      </div>
      <!-- //Logo -->
      
      <!-- Main Nav -->
      <nav role="navigation" class="main-nav">
        <ul id="nav-items">
          <li data-item="1" class="active"><a [routerLink]="['/']"  title="Home">Home</a></li>
          <li data-item="2"><a [routerLink]="['/services']"  title="Services">Services</a></li>
          <li data-item="3"><a  [routerLink]="['/contact']" title="Contact">Contact</a></li>
          <li data-item="4"><a [routerLink]="['/about-us']" title="About Us">About Us</a></li>
        </ul>
      </nav>
      <!-- //Main Nav -->
    </div>
  </header>