<footer class="footer black" role="contentinfo">
    <div class="wrap">
      <div class="row">
        <!-- Column -->
        <article class="one-half">
          <h6>About us</h6>
          <p>TEDBUS is a Ghana brand that offers intercity bus service in Ghana. <br/> TEDBUS is an online bus ticketing platform providing ticket booking facility
            through its website. Headquartered in Kumasi Ghana, it connects bus 
            travelers with a network of over 2500 bus opertors across Ghana. TEDBUS currently runs in Kumasi and Accra and has so far registered over 50 
            trips.</p>
        </article>
        <!-- //Column -->
        
        <!-- Column -->
        <article class="one-fourth">
          <h6>Need help?</h6>
          <p>Contact us via phone or email:</p>
          <p class="contact-data"><span class="icon icon-themeenergy_call"></span> +233 555 555 555</p>
          <p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a href="mailto:help@tedbus.com">help@tedbus.com</a></p>
        </article>
        <!-- //Column -->
        
        <!-- Column -->
        <article class="one-fourth">
          <h6>Follow us</h6>
          <ul class="social">
            <li><a href="https://web.facebook.com/tedbusgh/?ref=page_internal" title="facebook" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
            <li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
            <li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
            <li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
          </ul>
        </article>
        <!-- //Column -->
      </div>
      
      <div class="copy">
        <p>Copyright 2021. All rights reserved. </p>
        
        <nav role="navigation" class="foot-nav">
          <ul>
            <li><a href="#" title="Terms of use">Terms of use</a></li>
            <li><a href="#" title="Help">Privacy</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  