<!-- Main -->
<main class="main" role="main">
    <!-- Page info -->
    <header class="site-title color">
        <div class="wrap">
            <div class="container">
                <h1>Services</h1>
                <nav role="navigation" class="breadcrumbs">
                    <ul>
                        <li><a [routerLink]="['/']" title="Home">Home</a></li>
                        <li>Services</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- //Page info -->
    
    
    <div class="wrap">
        <div class="row">
            
            <!--- Sidebar -->
            <aside class="one-fourth sidebar left">
                <!-- Widget -->
                <div class="widget">
                    <ul class="categories">
                        <li class="active"><a href="#tab1">Individual Booking</a></li>
                        <li><a href="#tab2">Bulk Booking</a></li>
                    </ul>
                </div>
                <!-- //Widget -->
            </aside>
            <!--- //Sidebar -->
            
            <!--- Content -->
            <div class="three-fourth content">
                <!-- Tab -->
                <article class="single hentry" id="tab1">
                    <div class="entry-featured">
                        <img src="../../assets/images/uploads/img.jpg" alt="" />
                    </div>
                    <div class="entry-content">
                        <h2>Individual Booking</h2>
                        <p class="lead">
                            Tedbus gives its users the chance to make a bus reservation of their choice. 
                            Users can make reservation for themselves or a group or family. 
                            Your luggage charges will be waived by the company. We provide several pickup points where
                            users can select from.<br/><br/>
                            Enjoy your journey with Tedbus as we ensure your saftey and 
                            comfortability.
                        </p>
                    </div>
                </article>
                <!-- //Tab -->
                <!-- Tab -->
                <article class="single hentry" id="tab2">
                    <div class="entry-featured">
                        <img src="../../assets/images/uploads/img8.jpg" alt="" />
                    </div>
                    <div class="entry-content">
                        <h2>Bulk Booking</h2>
                        <p class="lead">
                            Tedbus is making the planning of your event, vacation trip, excursion and many more 
                            exciting and interesting in terms of securing a bus for your trip. Users can book a 
                            full bus for a program without going to any bus station.<br/><br/>.
                            Make a request now for our clients are ready to assist you.
                        </p>   
                    </div>
                </article>
                <!-- //Tab -->
            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->